node_modules
.pnpm-store

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# testing
/coverage
/test-results
/playwright-report

# misc
.DS_Store
/.idea
*.pem

# env
.env
.env.*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
